.phoneLink {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

.container {
  padding: 20px;
  background-color: #1c2a38;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.infoBlock {
  background-color: #27425c;
  color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 90%;
  max-width: 500px;
}
